<!doctype html>
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}


<div class="container"> 
  <div class="gold-header">
    <h4>Your Gold</h4>
    <input type="text" value="{{ gold_count }}" name="gold_count">
  </div>

  <div>
  <ul class="parent"> 
      <li>
        <h4>Farm</h4>
        <p>(Earns 10-20 Golds)</p>
        <form action="/process_money" method="post">
          <input type="hidden" name="building" value="farm" />
          <input type="submit" value="Find Gold!"/>
        </form>
      </li> 
      <li> 
        <h4>Cave</h4>
        <p>(Earns 5-10 Golds)</p>
        <form action="/process_money" method="post">
          <input type="hidden" name="building" value="cave" />
          <input type="submit" value="Find Gold!"/>
        </form>

      </li> 
      <li> 
        <h4>House</h4>
        <p>(Earns 2-5 Golds)</p>
        <form action="/process_money" method="post">
          <input type="hidden" name="building" value="house" />
          <input type="submit" value="Find Gold!"/>
        </form>

      </li> 
      <li> 
        <h4>Casino</h4>
        <p>(Earns/Takes 0-50 Golds)</p>
        <form action="/process_money" method="post">
          <input type="hidden" name="building" value="casino" />
          <input type="submit" value="Find Gold!"/>
        </form>
      </li> 
  </ul>
  </div>

  <div class="activity">
    <h4>Activity</h4>
    <div>
      {% for earning in activities %}
        {% if earning.value_change > 0  %}
        <h6>Earned {{ earning.value_change }} golds from the {{ earning.building }}! ({{ earning.timestamp }})</h6>
        {% else  %}
        <h6 class="loss">Entered a Casino and lost {{ earning.value_change }} gold... Ouch.. ({{ earning.timestamp}}!)</h6>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div> 
